<style>

html {
	width: auto !important;
	overflow-x: hidden !important;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
	color: #898989;
	line-height: 1.75;
	-webkit-font-smoothing: antialiased; 
}

.row {
	margin-right: 0; margin-left: 0;
}

body {
	width: auto !important;
	overflow-x: hidden !important;
}

a:hover {	
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	color:#ffffff;
	opacity: 0.5;
	text-decoration: none;
}

#header {
	height: 100%;
	background-image: url(images/backgrounds/header_background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#header #sig-mobile {
	text-align: center;
	padding: 40px;
}

#header #sig-desktop {
	text-align: center;
	padding: 200px;
}

#section-header {
  	border-top: 1px solid #e6e6e6;
  	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	padding: 15px;
	color: #898989;
	line-height: 1.75;
}

/* START DESCRIPTION */

#personal-bio {
	background-color: #faf8f8;
	text-align: center;
	padding: 50px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
	  color: #898989;
	
}

#personal-bio a,a:link,a:visited {
	color: #626264;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}

#personal-bio a:hover {
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	opacity: 0.5;
	text-decoration: none;
	
}

/* END DESCRIPTION */

/* START MODEST */

#modest {
	height: 100%;
	background-color: #000000;
	text-align: center;
	border-bottom: 1px solid #222222;
}

#modest #logo {
	margin-left: 0px;
	padding-top: 40px;
	text-align: center;
}

#modest #description {
	color: #ffffff;
	width: 100%;
	padding: 30px;
}

/* END MODEST */

/* START BELLY */

#belly-desktop {
	height: 500px;
	background-color: #33a9e0;
	background-image: url(images/belly-screenshot-bg@2x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#belly-desktop #logo {
	text-align: center;
	padding-top: 60px;
	padding-left: 15%;
}

#belly-desktop #title {
	padding-top: 8%;
	padding-left: 10%;
	color: white;
}

#belly-desktop #bio {
	padding-left: 10%;
	color: white;
	padding-top: 2%;
	line-height: 2.2;
}

#belly-mobile {
	height: 100%;
	background-color: #33a9e0;
	background: url(images/belly-bg.png);
	text-align: center;
}

#belly-mobile #logo {
	margin-left: 0px;
	padding-top: 40px;
}

#belly-mobile #description {
	color: #ffffff;
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
  	padding-right: 30px;
	padding-bottom: 30px;
}

/* END BELLY */

/* START LIGHTBANK */

#lightbank-desktop {
	height: 400px;
	background-color: #f78316;
	background-image: url(images/lightbank-bg-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#lightbank-desktop #logo {
	padding-top: 60px;
	padding-left: 10%;
}

#lightbank-desktop #title {
	padding-top: 5%;
	padding-left: 10%;
	color: white;
}

#lightbank-desktop #bio {
	padding-left: 10%;
	color: white;
	padding-top: 2%;
	line-height: 2.2;
}

#lightbank-mobile {
	height: 100%;
	background-color: #33a9e0;
	background: url(images/lightbank-bg.png);
	text-align: center;
}

#lightbank-mobile #logo {
	margin-left: 0px;
	padding-top: 40px;
}

#lightbank-mobile #description {
	color: #ffffff;
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
  	padding-right: 30px;
	padding-bottom: 30px;
}

/* END LIGHTBANK */

/* START MBUS */

#mbus-desktop {
	position: relative;
	height: 0;
	padding-bottom: 50%;
	background-color: #167efb;
}

#mbus-desktop #screenshots {
	padding-left: 5%;
	height: 50%;
	width: 50%;
}

#mbus-desktop #description {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.6316;
	font-size: 1.0175em;
	padding-top: 3%;
	padding-right: 5%;
	text-align: left;
	color: white;
	font-weight: normal;
}

.btn-outline{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: white;
	background-color:transparent;
	border-color:#563d7c
}

.btn-outline:hover,.btn-outline:focus,.btn-outline:active{
	color:#fff;
	background-color:#563d7c;
	border-color:#563d7c
}
.btn-outline-inverse{
	color:#fff;
	background-color: transparent;
	border-color: white
}

.btn-outline-inverse:hover,.btn-outline-inverse:focus,.btn-outline-inverse:active{
	color:#167efb;
	text-shadow:none;
	background-color:#fff;
	border-color:#fff;
	border-width
}

#mbus-mobile {
	height: 800px;
	background-color: #167efb;
	text-align: center;
}

#mbus-mobile #screenshot {
	padding-top: 30px;
	height: 70%;
}

#mbus-mobile #description {
	color: #ffffff;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

#mbus-desktop,#mbus-mobile #description a,a:link,a:visited {
	font-weight: bold;
	color: #ffffff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#mbus-desktop #description #buttons a:hover {
	color:#167efb;
	opacity: 1;
}

#mbus-desktop #description a:hover {
	color:#ffffff;
	opacity: 0.5;
	text-decoration: none;
}

/* END MBUS */

</style>